@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-map {
  background-image: url('/images/bgWorldMap.png');
  background-size: cover;
  background-position: center;
}

.bg-linear{
  background: linear-gradient(to top, black, #00000097, #00000041, #00000041, #00000008);
}
